<p><a class="btn btn-primary" routerLink="/admin/products/new">New product</a></p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Product
            </th>
        </tr>
    </thead>
    <tbody>
            <tr *ngFor="let x of (product$ | async)">
                <td>{{x.title | async}}</td>
                <td>{{x.price | async}}</td>
                <td><a [routerLink]="['/admin/products/',x.$key]">Edit</a></td>
            </tr>
        </tbody>
</table>