<div class="col-3">
<form #f="ngForm" (ngSubmit)="save(f.value)">

    <div class="form-group">
        <label for="title">Title</label>
        <input ngModel name="title" id="title"  type="text" class="form-control" #title="ngModel" required>
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">Title is required. </div>
    </div>

    <div class="form-group">
        <label for="price">Price</label>
         <div class="input-group">
            <span class="input-group-addon">$</span>
        <input  ngModel name="price"  id="price" type="number" class="form-control"#price="ngModel" required>
       
    </div>
    <div class="alert alert-danger" *ngIf="title.touched && title.invalid">Price is required. </div>  
    </div>

    <div class="form-group">
        <label for="category">Category</label>
        <select ngModel name="category"  id="category"  class="form-control" required>
        <!--    <option *ngFor="let c of categories$ | async" [value]="c">{{c.name}}</option>-->
        <option value="dairy">Dairy</option>
        <option value="fruits">Fruits</option>
        <option value="veg">Veg</option>
          </select>
    </div>

    <div class="form-group">
        <label for="imageUrl">Image Url</label>
        <input  #imageUrl="ngModel" ngModel name="imageUrl"  id="imageUrl"  type="text" class="form-control" requiredrequired>
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">Image is required. </div>  
  
    </div>

    <button class="btn btn-primary" >Save</button>

</form></div>